@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/5784749.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
}