@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body{
  background-image: url("https://wallpaperaccess.com/full/5784749.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.competitive{
  position: relative;
  top: -15px;
  color: rgba(255, 255, 255, 0.632);
  font-size: 11px; 
}