@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/5784749.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;
  /* If necessary */
  /* padding-right: 50px; */
}
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  overflow: hidden;
}

.competitive{
  color: rgba(255, 255, 255, 0.632);
  font-size: 11px; 
}