.center{
  margin-top: 50px;
}

// Collapse it first
// Hover div will expand this entire div
// And Hovering over a particular card will animate it in some way
.card-style{
  display: inline-block;
  margin: auto;
}
