.center{
  margin-top: 50px;
  width: 100%;
  background-color: red;
}


// Hover will expand this entire div
.card-style{
  background-color: red;
  width: 8rem;
  display: inline-block;
  margin: 0px auto;
}
