.center{
  margin-top: 30px;
}

// Collapse it first
// Hover div will expand this entire div
// And Hovering over a particular card will animate it in some way
.card-style{
  // width: 6rem;
  display: inline-block;
  margin: auto;
}

.image-style{
  width: 170px;
}