.fourth-sec{
  margin-top: 20px;
  text-align: left;
  padding-bottom: 1000px;
}

input{
  margin-left: 5px;
  width: 15%;
  border: 1px solid #090822;
  background-color: #151345;
  color: white;
  padding: 1px 0px 1px 10px;
}

input:focus{
  background-color: black;
  border: 3px solid #555;
}

