.header-template{
  padding-top: 15px;
  background-color: #0B1222;
  color: white;
  height: 50px;
  font-weight: 200;
  font-size: 13px;
  border-bottom: 1px solid rgb(101, 101, 101);
}

.icon-adjust{
  text-align: left;
  padding-left: 30px;
  margin-top: -5px;
}

.svg-style{
  margin-top: -20px;
  position: relative;
  width: 100%;
  height: 60px;
}
.svg-text{
  font-size: 22px;
  position: absolute;
  top: 22%;
  left: 28%;
  font-weight: 440;
}

.cancel-header{
  position: relative;
  right: 10px;
}

.Mid-Section{
  margin-right: 15px;
  padding: 0 3.5%;
}

.timetext{
  margin-left: 5px;
  font-size: 21px;
  font-weight: bold;
}
