#navbarSupportedContent {
  border-bottom: 1px solid rgb(113, 113, 113);
  margin: -5px auto;
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 12px;
  display: block;
  padding: 20px 20px 10px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: white;
  background-color: transparent;
  font-size: 13px;
  transition: all 0.7s;
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: rgba(255, 255, 255, 0.469);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}