.OneProject{
  margin-top: 30px;
  padding: 20px;
  transition: all 0.2s ease-in;
}

.OneProject img{
  width: 60vh;
  height: 40vh;
  transition: all 0.2s ease-in;
}

.projecttext{
  text-align: left;
  margin: auto;
  padding-right: 5%;
}