.theme-changer{
  margin-top: 20px;
  color:grey;
  font-weight: 500;
}

.inner-div{
  box-sizing: border-box;
  padding: 3px;
  margin: auto;
  width: 13%;
  background-color: #23314A;
  box-shadow: 1px 2px 5px 1px #000000; 
 -webkit-transition:  all  5s cubic-bezier(0.075, 0.82, 0.165, 1);
 -moz-transition:  all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
 -o-transition:  all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
 -ms-transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
 transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.inner-div:hover{
  color: white;
  box-shadow: 6px 8px 10px 10px #000000;
}

.icons-style{
  font-size: 25px;
  float: right;
  margin-top: -4.2%;
  margin-right: 4%;
  display: inline;
}

.change-text{
  position: relative;
  font-size: 11px;
  top:-2px
}

.rightToggle{
  color: white;
  opacity: 1;
}

.leftToggle{
  color: rgb(98, 98, 98);
}