.theme-changer{
  margin-top: 25px;
  color:grey;
  font-weight: 500;
}

.inner-div{
  padding: 3px;
  margin: auto;
  width: 15%;
  background-color: #23314A;
}

.icons-style{
  font-size: 25px;
  float: right;
  margin-top: -3.8%;
  margin-right: 5%;
  display: inline;
}

.rightToggle{
  color: white;
  opacity: 1;
}

.leftToggle{
  color: rgb(98, 98, 98);
}