.third-section{
  color: white;
  margin: 20px auto 0px auto ;
}

.practice{
  background-color: #617493;
  outline: 1px solid rgb(189, 189, 189);
  outline-offset: -3px;
  padding: 9px;
  width: 45%;
  font-size: 11px;
  font-weight: 100;
  margin: 5px auto 0 auto;
}

.inqueue-desg{
  padding: 7px 5px;
  width: 55%;
  background-color: #88D0BC;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -3px;
  font-size: 16px;
  margin: 5px auto 0 auto;
}

.cancel-desg{
  font-size: 20px;
  position: relative;
  top: -2px;
  left: 25%;
  transform: rotate(45deg);
  outline: 1px solid #88D0BC;
  outline-offset: -4px;
}

.practice1{
  position:relative;
  left:100px;
}

.practice2{
  position:relative;
  right:100px;
}